{% extends 'base.html' %}


{% load static %}


{% block title %}

{% endblock title %}


{% block estilos_personalizados %}
    <link rel="stylesheet" href="{% static 'cssbase/bootstrap.min.css' %}">
{% endblock estilos_personalizados %}




{% block content %}
     <div class="bg-fuchsia-600">test</div>

    <div class="container my-4">
        <div class="mx-auto" style="max-width: 700px;">
        <form method="POST">
            {% csrf_token %}    
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {{form.errors}}
            {{form.fields.errors}}
            </div>    
            {% endif %}
                
            <fieldset class="border rounded p-3 mb-4">
                <legend class="float-none w-auto px-2 fs-5 fw-bold " style="text-align:center;">Informacion Personal</legend>
                <div class="row g-3">
                <div class='col-sm'>
                    {{form.nombre.label_tag}}
                    {{form.nombre}}
                    {{form.errors}}
                </div>
                <div class='col-sm'>
                    {{form.primer_apellido.label_tag}}
                    {{form.primer_apellido}}
                </div>
                <div class='col-sm'>
                    {{form.segundo_apellido.label_tag}}
                    {{form.segundo_apellido}}
                </div>
            </div>

                <div class="row g-3 mb-4">
                    <div class="col-4">
                        {{form.documento.label_tag}}
                        {{form.documento}}
                    </div>
                    <div class="col">
                        {{form.identificacion.label_tag}}
                        {{form.identificacion}}
                        <div class='form-text'>{{form.identificacion.help_text}}</div>
                    </div>
                    <div class="col">
                        {{form.fecha_nacimiento.label_tag}}
                        {{form.fecha_nacimiento}}
                    </div>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col">
                        {{form.tipo.label_tag}}
                        {{form.tipo}}
                    </div>  
                </div>
                <div class="border rounded p-3 mb-4 shadow-sm">
                    <div class="form-text mb-4">Marque las opciones que coincidan</div>
                    
                    <div class="row g-3">
                        <div class="col-md-3">
                            <div class="form-check">
                                {{form.descapacitado}}
                                {{form.descapacitado.label_tag}}    
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-check">
                                {{form.pueblo_originario}}
                                {{form.pueblo_originario.label_tag}}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-check">
                                {{form.privada_de_libertad}}
                                {{form.privada_de_libertad.label_tag}}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-check">
                                {{form.transexual}}
                                {{form.transexual.label_tag}}
                            </div>
                        </div>
                    </div>

                    <div class="row g-3 mt-3">
                        <div class="col-md-4">
                            <div class="form-check">
                                 {{form.visita_guiada}}
                                {{form.visita_guiada.label_tag}}
                            </div>
                        </div>
                        <div class="col-md-4">
                            {{form.peso.label_tag}}
                            {{form.peso}}
                            <div class='form-text'>{{form.peso.help_text}}</div>
                        </div>
                        <div class="col-md-4">
                             {{form.altura.label_tag}}
                            {{form.altura}}
                            <div class='form-text'>{{form.altura.help_text}}</div>
                           
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col">
                            {{form.actividad.label_tag}}
                            {{form.actividad}}
                        </div>

                    </div>
                </div>

            </fieldset>
            <fieldset class="border rounded p-3 mb-4">
                <legend class="float-none w-auto px-2 fs-5 fw-bold">Informacion de Contacto</legend>
                <div class="row g-3 mb-4">
                    <div class="col">
                        {{form.nacionalidad.label_tag}}
                        {{form.nacionalidad}}
                    </div>
                    <div class="col">
                        {{form.comuna.label_tag}}
                        {{form.comuna}}
                    </div>
                    <div class="col">
                        {{form.cesfam.label_tag}}
                        {{form.cesfam}}
                        <div class='form-text'>{{form.cesfam.help_text}}</div>
                    </div>
                </div>
                <div class="row g-3 mb-4">
                    <div  class="col">
                        <label for="">Direccion</label>
                        <input type="text" class="form-control"/>
                    </div>

                </div>
            </fieldset>
            
            
            
            <div>
                <input type="submit" value="Añadir" class="btn btn-success"/>    
            </div>
            
        </form>
    </div>
</div>





{% endblock content %}  
    



{% block scripts %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock scripts %}
    