{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block estilos_personalizados %}
    {% comment %} {% include 'includes/bootstrap_css.html' %} {% endcomment %}
    <link rel="stylesheet" href="{% static 'perfiles/css/login.css' %}">
{% endblock estilos_personalizados %}
    



{% block content %}
<main class="login-layout">

    <!-- PANEL IZQUIERDO -->
    <section class="login-left">

        <header class="left-header">
            <div class="left-header-container">
                <h1 class="welcome-title">Menos pasos. Más eficiencia.</h1>
                <p class="welcome-subtitle">Todo tu trabajo, en un solo lugar.</p>
            </div>
        </header>

        <footer class="left-footer">
            <small class="left-footer-text">
                © 2025 Clínica Herminda Martín, Inc. Todos los derechos reservados.
            </small>
        </footer>

    </section>

    <!-- PANEL DERECHO -->
    <section class="login-right">

        <div class="login-card">

            <!-- Logo -->
            <header class="login-header">
                <img 
                    class="login-logo"
                    src="{% static 'icons/HMTransparent.png' %}"
                    width="190" 
                    height="75"
                    alt="Logo Herminda Martín"
                    title="Logo Herminda Martín"
                />
                <h2 class="login-title">Iniciar Sesión</h2>
            </header>

            <!-- Formulario -->
            <form class="login-form" method="POST">
               {% csrf_token %}

                <fieldset class="form-fields">

                    <!-- Correo -->
                    <div class="form-field">
                       <label> {{form.username.label}}</label>

                       {{form.username}}
                    </div>

                    <!-- Contraseña -->
                    <div class="form-field">
                        <label>{{form.password.label}}</label>
                        {{form.password}}
                    </div>

                </fieldset>

                <!-- Daniel, programa esto para cuando de error al registrarse, papi. -->
                {% if messages %}

                    {% for message in messages %}
                        <div id="login-error" class="login-error">
                            <span>{{message}}</span>
                        </div>
                    {% endfor %}
                        
                {% endif %}

                <!-- Botón -->
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        Ingresar
                    </button>
                </div>

            </form>

        

            
            <!-- Link recuperar contraseña -->
            <div class="form-options">
                <a class="forgot-link" href="resetPassword.html">
                    ¿Olvidaste tu contraseña?
                </a>
            </div>

            <!-- Footer de la tarjeta -->
            <footer class="login-footer">
                <p class="login-footer-text">
                    Acceso autorizado sólo para <strong>personal médico.</strong> Contacta a TI para soporte.
                </p>
            </footer>

        </div>

    </section>
</main>


{% endblock content %}
    




{% block scripts %}
    
{% endblock scripts %}
    