{% extends 'base.html' %}
{% load static %}
{% block title %} Login {% endblock title %}

{% block estilos_personalizados %}
    <link rel="stylesheet" href="{% static 'perfiles/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/toastify.min.css' %}">
{% endblock estilos_personalizados %}
    



{% block content %}
<main class="login-layout">

    <!-- PANEL IZQUIERDO -->
    <section class="login-left">

        <header class="left-header">
            <div class="left-header-container">
                <h1 class="welcome-title">Menos pasos. Más eficiencia.</h1>
                <p class="welcome-subtitle">Gestionar pacientes y enviar reportes nunca fue tan<strong> fácil.</strong></p>
            </div>
        </header>

        <footer class="left-footer">
            <small class="left-footer-text">
                © 2025 Clínica Herminda Martín. Departamento de Obstetricia y Ginecología.
            </small>
        </footer>

    </section>

    <!-- PANEL DERECHO -->
    <section class="login-right">

        <div class="login-card">

            <!-- Logo -->
            <header class="login-header">
                <img 
                    class="login-logo"
                    src="{% static 'perfiles/img/HermindaMartin.png' %}"
                    width="260" 
                    height="95"
                    alt="Logo Herminda Martín"
                    title="Logo Herminda Martín"
                />
                <h2 class="login-title">Iniciar Sesión</h2>
            </header>

            <!-- Formulario -->
            <form class="login-form" method="post">
                {% csrf_token %}
                <fieldset class="form-fields">

                    <div class="form-field">
                        <label for="{{form.username.id_for_label}}">{{form.username.label}}</label>
                        {{form.username}}
                    </div>

                    <div class="form-field">
                       <label for="{{form.password.id_for_label}}">{{form.password.label}}</label>
                        {{form.password}}
                    </div>
                    
                                
                    {% if messages %}
                        
                        {% for message in messages %}    
                            <div id="login-error" class="login-error">
                                <span>{{message}}</span>
                            </div>
                        {% endfor %}
                            
                    {% endif %}


                    <button type="submit" class="btn btn-primary">Ingresar</button>

                </fieldset>

       
                

            </form>

            <!-- Link recuperar contraseña -->
            <div class="form-options">
                <a class="forgot-link" href="NewPW/resetPassword.html">
                    ¿Olvidaste tu contraseña?
                </a>
            </div>

            <footer class="login-footer">
                <p class="login-footer-text">
                    Acceso autorizado sólo para <strong>personal médico.</strong> Contacta a TI para soporte.
                </p>
            </footer>

        </div>
    </section>
</main>

{% endblock content %}
    




{% block scripts %}
    <script src="{% static 'js/toastify.min.js' %}"></script>
    {% include 'includes/script_mensajes.html' %}
        
{% endblock scripts %}
    