{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/sidebar.html' %}
{% include 'includes/topbar.html' %}

<body class="bodydashboard-container">

    {% include 'nav/nav.html' %}

    <!-- ====================================================== -->
    <!--                             KPIs                        -->
    <!-- ====================================================== -->
    <section class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-[1rem] text-center">

        <!-- KPI 1 -->
        <div class="p-4 rounded-2xl shadow-xl
                    bg-gradient-to-br from-red-500/40 to-pink-200/10
                    backdrop-blur-xl border border-white/10">
            <h3 class="text-sm font-medium">
                Total reportes enviados este mes
            </h3>
            <p id="kpi_reporte_1" data-value="{{ kpireporte1|default:25 }}"
               class="text-4xl font-bold mt-3">0</p>
        </div>

    </section>

<!-- ====================================================== -->
<!--           GRÁFICOS        -->
<!-- ====================================================== -->
        
    <section class="cards-container">
        <div class="card">
            <a href="{% url 'reportes:crear_reporte_caracteristicas_parto' %}" class="card-button">
                <img alt="Estadística Partos" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Características Parto</h3>
                <p class="subtitle">Detalle de características y tipos de parto.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_eutocico_distocico' %}" class="card-button">
                <img alt="Vía Parto" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Partos Eutócicos</h3>
                <p class="subtitle">Relación Eutócicos vs Distócicos.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_d1' %}" class="card-button">
                <img alt="Reporte REM" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Reporte REM D1</h3>
                <p class="subtitle">Estadística mensual D1 oficial.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_d2' %}" class="card-button">
                <img alt="Reporte REM" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Reporte REM D2</h3>
                <p class="subtitle">Estadística mensual D2 oficial.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_esterilizaciones_quirurgicas' %}" class="card-button">
                <img alt="Cirugía" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Esterilizaciones</h3>
                <p class="subtitle">Reporte de esterilizaciones quirúrgicas.</p>
            </a>
        </div>
        
        <div class="card">
            <a href="{% url 'reportes:crear_reporte_hepatitis_b' %}" class="card-button">
                <img alt="Vacunas" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Hepatitis B</h3>
                <p class="subtitle">Control y seguimiento de Hepatitis B.</p>
            </a>
        </div>

        <div class="card">
            <a href="{% url 'reportes:crear_reporte_modelo_atencion' %}" class="card-button">
                <img alt="Atención" src="{% static 'icons/reporteicon.png' %}" class="card-icon"/>
                <h3 class="third-title">Modelo Atención</h3>
                <p class="subtitle">Indicadores del modelo de atención integral.</p>
            </a>
        </div>

    </section>




    <!-- ====================================================== -->
    <!--                   DATOS EMBEBIDOS                      -->
    <!-- ====================================================== -->
    <div id="data-values"
         data-kpi1='{{ kpireporte1| safe}}'
         data-kpi2='{{ kpireporte2| safe}}'
         data-chart1='{{ chartreporte1| safe }}' >
    </div>


</body>

{% block scripts %}
<script src="{% static 'dashboard/js/reportes.js' %}"></script>
{% endblock scripts %}

{% endblock %}
