
<!-- TOP KPI -->
<div class="flex flex-col items-center justify-center gap-4 text-center">
    <!-- KPI 1 -->
    <div class="bg-white/90 p-6 rounded-xl shadow-md border w-[12rem] h-[10rem] md:w-[22rem] md:h-[9rem]">
        <h3 class="text-sm font-medium text-gray-500">Pacientes Registrados este Mes</h3>
        <p id="kpi_total_partos" class="text-4xl font-bold text-blue-600 mt-2" data-value="{{ pc_mes }}">--</p>
    </div>
    <!-- KPI 2 -->
    <div class="bg-white/90 p-6 rounded-xl shadow-md border w-[12rem] h-[10rem] md:w-[22rem] md:h-[9rem]">
        <h3 class="text-sm font-medium text-gray-500">Total Partos Diarios</h3>
        <p id="kpi_tasa_cesareas" class="text-4xl font-bold text-blue-600 mt-2" data-val="{{ p_diario}}">0</p>
    </div>
</div>

<!--  KPI SECUNDARIOS  -->
<div class="grid grid-cols-2 grid-rows-2 gap-4 text-center">
    <!-- KPI 3 -->
    <div class="bg-white/90 p-6 rounded-xl shadow-md border">
        <h3 class="text-sm font-medium text-gray-500">Promedio de Travestis</h3>
        <p id="kpi_partos_vaginales" class="text-3xl font-bold text-green-600 mt-2">--</p>
    </div>
    <!-- KPI 4 -->
    <div class="bg-white/90 p-6 rounded-xl shadow-md border">
        <h3 class="text-sm font-medium text-gray-500">Controles ANALES Realizados</h3>
        <p id="kpi_complicaciones" class="text-3xl font-bold text-purple-600 mt-2">--</p>
    </div>
    <!-- KPI 5 -->
    <div class="bg-white/90 p-6 rounded-xl shadow-md border">
        <h3 class="text-sm font-medium text-gray-500">Pacientes Activos</h3>
        <p id="kpi_apgar" class="text-3xl font-bold text-red-600 mt-2">--</p>
    </div>
    <!-- KPI 6 -->
    <div class="bg-white/90 p-6 rounded-xl shadow-md border">
        <h3 class="text-sm font-medium text-gray-500">Promedio de Estancia</h3>
        <p id="kpi_estancia" class="text-3xl font-bold text-yellow-600 mt-2">--</p>
    </div>
</div>
