{% extends 'base.html' %}
{% load static %}


{% block title %}
    Pacientes
{% endblock title %}
    


{% block menus_navegacion %}
    {% include 'includes/topbar.html' %}
    {% include 'includes/sidebar.html' %}
{% endblock menus_navegacion %}
    


{% block content %}


    <a href="{% url 'paciente:agregar_paciente' %}">Añadir nuevo paciente</a>
    {% for paciente in pacientes %}
        <p>{{paciente.obtener_nombre_completo}} - {{paciente.rut}} - {{paciente.tipo}}</p>
    {% empty %}
        <h2>NO HAY PACIENTES</h2>
    {% endfor %}
    
    

    <button hx-get="{% url 'test:crear_test_vih' %}" hx-target="#resultado">
        Añadir Test
    </button>
    <div id="resultado">
    </div>



{% endblock content %}
    


{% block scripts %}
<script src="{% static 'js/htmx.min.js' %}"></script>    

{% endblock scripts %}
    