{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} index {%  endblock title %}</title>

    <!-- CUSTOM CSS -->
    {% block estilos_personalizados %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock estilos_personalizados %}
    <!----------------------------------------------->
    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js"></script>
    <!----------------------------------------------->
</head>

<body id="index" class="root">
    {% block content %}
        {% include 'main/dashboard.html' %}
    {% endblock content %}

    <!-- CUSTOM SCRIPT -->
    {% block scripts %}
    <script type="module" src="{% static 'js/dashboard.js' %}"></script>
    {% endblock scripts %}

</body>
</html>
<!--Made By:       _     
                  | |
 _ __   _   _   __| | _   _
|  _ \ | | | | / _  || | | |
| |_) || |_| || (_| || |_| |
|  __/  \__ _| \__ _| \__ _|
| |
|_| @Benjamin Maldonado -->