{% extends 'base.html' %}
{% load static %}

<!-- CUSTOM CSS -->
{% block estilos_personalizados %}
<link rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">
<!-- CDN -->
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js"></script>
<!----------------------------------------------->
{% endblock estilos_personalizados %}

{% block content %}
<div id="index" class="root">

    {% include 'main/main.html' %}


    
    <!-- CUSTOM SCRIPT -->
    {% block scripts %}
    <!-- Cargar primero los scripts que definen las funciones globales de los gráficos -->
    <script src="{% static 'dashboard/js/maingrafico.js' %}"></script>
    <script src="{% static 'dashboard/js/grafico2.js' %}"></script>
    <script src="{% static 'dashboard/js/grafico3.js' %}"></script>
    <script src="{% static 'dashboard/js/grafico4.js' %}"></script>
    <script src="{% static 'dashboard/js/grafico5.js' %}"></script>
    <script src="{% static 'dashboard/js/kpis.js' %}"></script>

    <!-- Finalmente el controlador que llama a esas funciones -->
    <script type="module" src="{% static 'dashboard/js/dashboard.js' %}"></script>
    {% endblock scripts %}
    

</div>
{% endblock content %}
 

<!--Made By:       _     
                  | |
 _ __   _   _   __| | _   _
|  _ \ | | | | / _  || | | |
| |_) || |_| || (_| || |_| |
|  __/  \__ _| \__ _| \__ _|
| |
|_| @Benjamin Maldonado -->